.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
}
main {
  background-color: #e0e6ee;
  min-height: 100vh;
}

.prof {
  display: inline-block;
}
.prof img {
  border-radius: 50%;
}
